In [90]:
import data_loader
import pandas as pd
import seaborn as sb
import numpy as np
init_train = data_loader.load_train_data("../data/adult.data", valid_rate=1, is_df = "True")
test = data_loader.load_test_data("../data/adult.test", is_df = "True")
train = init_train[1]

In [91]:
col_map = ["age", "workclass", "final_weight", "education", "education_num", "marital_status", "occupation", "relationship", "race", "sex", "cap_gain", "cap_loss", "hrs_p_week","country","income"]
train.columns = col_map

In [92]:
print(train)

       age          workclass  final_weight      education  education_num  \
24337   62          Local-gov         68268        HS-grad              9
17049   50            Private        215990        HS-grad              9
21016   36            Private        185405        HS-grad              9
2790    64            Private        258006   Some-college             10
13511   28   Self-emp-not-inc         39388      Assoc-voc             11
29288   19            Private        100790        HS-grad              9
2161    21            Private         60639   Some-college             10
12546   39            Private        113481      Bachelors             13
20828   57            Private         96779        5th-6th              3
210     44          Local-gov        160943        HS-grad              9
20261   66            Private        214469        HS-grad              9
27729   34            Private        127610      Bachelors             13
30961   26            Private        366219        HS-grad              9
10133   57            Private         94429        HS-grad              9
24726   24            Private        107801        HS-grad              9
1643    65          State-gov        209280        Masters             14
15630   27            Private         31659      Bachelors             13
21184   25          Local-gov        375170   Some-college             10
30282   34            Private         28053      Bachelors             13
25322   27            Private        195562        HS-grad              9
29499   36            Private        188972   Some-college             10
4497    46            Private        111979        7th-8th              4
19846   23          Local-gov        117618      Bachelors             13
15838   20            Private         94401        HS-grad              9
14172   38            Private         58108      Bachelors             13
6806    18            Private        118376   Some-college             10
20417   42       Self-emp-inc         23510        Masters             14
27156   34   Self-emp-not-inc        204052        HS-grad              9
1150    25            Private        241626        HS-grad              9
12842   24            Private        450695     Assoc-acdm             12
...    ...                ...           ...            ...            ...
9307    29   Self-emp-not-inc        394927   Some-college             10
19537   32          Local-gov        118457      Bachelors             13
7636    49            Private         72333   Some-college             10
17639   51          State-gov         94174   Some-college             10
30197   32            Private        154950    Prof-school             15
15397   40            Private        362482      Assoc-voc             11
26442   64       Self-emp-inc        185912    Prof-school             15
8332    58            Private        316849   Some-college             10
6690    60            Private        199085           10th              6
29572   27          Local-gov        162404        HS-grad              9
27261   27          Local-gov        199172        HS-grad              9
13548   42            Private        212894      Assoc-voc             11
3885    27            Private        146719        HS-grad              9
15776   41       Self-emp-inc         73431      Bachelors             13
7933    40            Private        136244   Some-college             10
25264   53            Private        142717      Bachelors             13
5724    21            Private        286824   Some-college             10
6765    28            Private         38918   Some-college             10
20248   41        Federal-gov        253770   Some-college             10
29522   39            Private        165743   Some-college             10
16967   35            Private        100375   Some-college             10
30369   20                  ?        250037   Some-college             10
24908   40          Local-gov        306495      Bachelors             13
17677   37            Private        126675   Some-college             10
4023    41            Private        192712        HS-grad              9
32081   49          Local-gov        106554      Bachelors             13
7259    30            Private        231263        HS-grad              9
21584   30            Private        197558        HS-grad              9
3775    20                  ?         29810   Some-college             10
10137   51            Private         37237        HS-grad              9

               marital_status          occupation     relationship  \
24337      Married-civ-spouse    Transport-moving          Husband
17049      Married-civ-spouse        Craft-repair          Husband
21016      Married-civ-spouse        Adm-clerical          Husband
2790                  Widowed        Adm-clerical    Not-in-family
13511      Married-civ-spouse     Farming-fishing          Husband
29288           Never-married      Prof-specialty    Not-in-family
2161            Never-married       Other-service    Not-in-family
12546      Married-civ-spouse     Exec-managerial          Husband
20828      Married-civ-spouse        Craft-repair          Husband
210        Married-civ-spouse    Transport-moving          Husband
20261                 Widowed        Adm-clerical    Not-in-family
27729           Never-married      Prof-specialty        Own-child
30961      Married-civ-spouse        Craft-repair          Husband
10133      Married-civ-spouse   Handlers-cleaners          Husband
24726           Never-married        Adm-clerical        Own-child
1643       Married-civ-spouse      Prof-specialty          Husband
15630      Married-civ-spouse   Machine-op-inspct          Husband
21184           Never-married        Adm-clerical        Own-child
30282   Married-spouse-absent        Adm-clerical    Not-in-family
25322           Never-married        Craft-repair        Own-child
29499           Never-married      Prof-specialty    Not-in-family
4497       Married-civ-spouse        Craft-repair          Husband
19846           Never-married      Prof-specialty        Own-child
15838           Never-married     Exec-managerial        Unmarried
14172      Married-civ-spouse     Exec-managerial          Husband
6806            Never-married               Sales        Own-child
20417                Divorced     Exec-managerial        Unmarried
27156      Married-civ-spouse        Craft-repair          Husband
1150            Never-married       Other-service        Own-child
12842           Never-married               Sales    Not-in-family
...                       ...                 ...              ...
9307            Never-married        Craft-repair    Not-in-family
19537           Never-married      Prof-specialty    Not-in-family
7636                 Divorced        Adm-clerical    Not-in-family
17639                Divorced        Adm-clerical        Unmarried
30197           Never-married      Prof-specialty    Not-in-family
15397      Married-civ-spouse               Sales          Husband
26442      Married-civ-spouse      Prof-specialty          Husband
8332                 Divorced       Other-service    Not-in-family
6690       Married-civ-spouse   Machine-op-inspct          Husband
29572           Never-married     Protective-serv    Not-in-family
27261      Married-civ-spouse     Protective-serv             Wife
13548      Married-civ-spouse        Adm-clerical          Husband
3885                 Divorced               Sales        Own-child
15776                 Widowed      Prof-specialty        Unmarried
7933       Married-civ-spouse        Adm-clerical             Wife
25264                Divorced        Adm-clerical        Unmarried
5724            Never-married   Handlers-cleaners        Own-child
6765       Married-civ-spouse        Craft-repair          Husband
20248      Married-civ-spouse    Transport-moving             Wife
29522      Married-civ-spouse        Craft-repair          Husband
16967   Married-spouse-absent     Farming-fishing        Own-child
30369           Never-married                   ?        Own-child
24908      Married-civ-spouse      Prof-specialty          Husband
17677      Married-civ-spouse     Exec-managerial          Husband
4023            Never-married        Adm-clerical   Other-relative
32081                Divorced      Prof-specialty        Unmarried
7259       Married-civ-spouse               Sales          Husband
21584      Married-civ-spouse   Handlers-cleaners          Husband
3775            Never-married                   ?        Own-child
10137      Married-civ-spouse     Farming-fishing          Husband

                      race      sex  cap_gain  cap_loss  hrs_p_week  \
24337                White     Male         0         0          40
17049                White     Male         0         0          40
21016                White     Male         0         0          50
2790                 White   Female         0         0          40
13511                White     Male         0         0          60
29288                White   Female         0         0          40
2161                 White   Female         0         0          37
12546                White     Male         0         0          45
20828                White     Male         0         0          40
210                  Black     Male         0         0          40
20261                White   Female         0         0          13
27729                White   Female         0         0          15
30961                Black     Male         0      1848          60
10133                White     Male         0         0          40
24726                White   Female         0         0          40
1643                 White     Male      6514         0          35
15630                White     Male         0      1887          60
21184                Black   Female         0         0          35
30282                White   Female         0         0          25
25322                Black     Male         0         0          20
29499                White   Female         0         0          40
4497                 White     Male         0         0          47
19846                White     Male         0         0          24
15838                White   Female         0         0          40
14172                White     Male         0         0          50
6806                 White   Female         0         0          15
20417   Asian-Pac-Islander     Male         0      2201          60
27156                White     Male         0         0          40
1150                 White     Male         0         0          30
12842                White     Male         0         0          35
...                    ...      ...       ...       ...         ...
9307                 White     Male         0         0          45
19537                White     Male         0         0          55
7636    Asian-Pac-Islander   Female         0         0          40
17639                White   Female         0         0          35
30197                White     Male         0         0          40
15397                White     Male         0         0          50
26442                White     Male     99999         0          35
8332                 White     Male         0         0          40
6690                 White     Male         0         0          40
29572                Black     Male      2174         0          40
27261                White   Female         0         0          40
13548                White     Male      2407         0          40
3885                 White   Female         0         0          35
15776                White   Female         0         0          40
7933                 White   Female         0         0          40
25264                White   Female         0         0          40
5724                 White     Male         0         0          12
6765                 White     Male         0         0          50
20248                White   Female      7298         0          40
29522                White     Male         0         0          45
16967                White     Male         0         0          40
30369                White   Female         0         0          18
24908                White     Male         0         0          35
17677                White     Male         0         0          57
4023                 White   Female         0         0          40
32081                White   Female         0         0          40
7259                 White     Male         0         0          40
21584                White     Male         0         0          40
3775                 White   Female         0         0          40
10137                White     Male         0         0          80

              country  income
24337   United-States   <=50K
17049   United-States    >50K
21016   United-States    >50K
2790             Cuba   <=50K
13511   United-States   <=50K
29288   United-States   <=50K
2161    United-States   <=50K
12546   United-States    >50K
20828   United-States   <=50K
210     United-States   <=50K
20261   United-States   <=50K
27729   United-States   <=50K
30961   United-States    >50K
10133   United-States   <=50K
24726   United-States   <=50K
1643    United-States    >50K
15630   United-States    >50K
21184   United-States   <=50K
30282   United-States   <=50K
25322   United-States   <=50K
29499   United-States   <=50K
4497    United-States   <=50K
19846   United-States   <=50K
15838   United-States   <=50K
14172   United-States    >50K
6806    United-States   <=50K
20417           India    >50K
27156   United-States    >50K
1150    United-States   <=50K
12842   United-States   <=50K
...               ...     ...
9307    United-States   <=50K
19537   United-States   <=50K
7636    United-States   <=50K
17639   United-States   <=50K
30197   United-States   <=50K
15397   United-States   <=50K
26442   United-States    >50K
8332    United-States   <=50K
6690    United-States   <=50K
29572   United-States   <=50K
27261   United-States   <=50K
13548   United-States   <=50K
3885    United-States   <=50K
15776   United-States   <=50K
7933    United-States   <=50K
25264   United-States   <=50K
5724    United-States   <=50K
6765          Germany    >50K
20248   United-States    >50K
29522   United-States    >50K
16967   United-States   <=50K
30369               ?   <=50K
24908   United-States   <=50K
17677   United-States   <=50K
4023    United-States   <=50K
32081   United-States    >50K
7259    United-States   <=50K
21584   United-States   <=50K
3775    United-States   <=50K
10137   United-States    >50K

[32561 rows x 15 columns]

In [93]:
train['income'] = train['income'].map({ " <=50K": 0, " >50K": 1})
Results = np.copy(train['income'].values)
train.drop(columns="income",inplace=True)

In [108]:
for column in train.columns:
    su = (train[column] == ' ?').sum()
    if su > 0:
        print("Column: ",column, " Sum: ",su)

Column:  workclass  Sum:  1836
Column:  occupation  Sum:  1843
Column:  country  Sum:  583

In [114]:
#train.drop(columns=['workclass','occupation','country'], )
new_train = train[(train.country != ' ?' || train.workclass != ' ?' || train.occupation != ' ?')]
for column in new_train.columns:
    su = (new_train[column] == ' ?').sum()
    if su > 0:
        print("Column: ",column, " Sum: ",su)

SyntaxError: invalid syntax (<ipython-input-114-cc18548821e0>, line 2)

In [105]:
print(help(train.drop))

Help on method drop in module pandas.core.frame:

drop(labels=None, axis=0, index=None, columns=None, level=None, inplace=False, errors='raise') method of pandas.core.frame.DataFrame instance
    Drop specified labels from rows or columns.

    Remove rows or columns by specifying label names and corresponding
    axis, or by specifying directly index or column names. When using a
    multi-index, labels on different levels can be removed by specifying
    the level.

    Parameters
    ----------
    labels : single label or list-like
        Index or column labels to drop.
    axis : {0 or 'index', 1 or 'columns'}, default 0
        Whether to drop labels from the index (0 or 'index') or
        columns (1 or 'columns').
    index, columns : single label or list-like
        Alternative to specifying axis (``labels, axis=1``
        is equivalent to ``columns=labels``).

        .. versionadded:: 0.21.0
    level : int or level name, optional
        For MultiIndex, level from which the labels will be removed.
    inplace : bool, default False
        If True, do operation inplace and return None.
    errors : {'ignore', 'raise'}, default 'raise'
        If 'ignore', suppress error and only existing labels are
        dropped.

    Returns
    -------
    dropped : pandas.DataFrame

    Raises
    ------
    KeyError
        If none of the labels are found in the selected axis

    See Also
    --------
    DataFrame.loc : Label-location based indexer for selection by label.
    DataFrame.dropna : Return DataFrame with labels on given axis omitted
        where (all or any) data are missing.
    DataFrame.drop_duplicates : Return DataFrame with duplicate rows
        removed, optionally only considering certain columns.
    Series.drop : Return Series with specified index labels removed.

    Examples
    --------
    >>> df = pd.DataFrame(np.arange(12).reshape(3,4),
    ...                   columns=['A', 'B', 'C', 'D'])
    >>> df
       A  B   C   D
    0  0  1   2   3
    1  4  5   6   7
    2  8  9  10  11

    Drop columns

    >>> df.drop(['B', 'C'], axis=1)
       A   D
    0  0   3
    1  4   7
    2  8  11

    >>> df.drop(columns=['B', 'C'])
       A   D
    0  0   3
    1  4   7
    2  8  11

    Drop a row by index

    >>> df.drop([0, 1])
       A  B   C   D
    2  8  9  10  11

    Drop columns and/or rows of MultiIndex DataFrame

    >>> midx = pd.MultiIndex(levels=[['lama', 'cow', 'falcon'],
    ...                              ['speed', 'weight', 'length']],
    ...                      codes=[[0, 0, 0, 1, 1, 1, 2, 2, 2],
    ...                             [0, 1, 2, 0, 1, 2, 0, 1, 2]])
    >>> df = pd.DataFrame(index=midx, columns=['big', 'small'],
    ...                   data=[[45, 30], [200, 100], [1.5, 1], [30, 20],
    ...                         [250, 150], [1.5, 0.8], [320, 250],
    ...                         [1, 0.8], [0.3,0.2]])
    >>> df
                    big     small
    lama    speed   45.0    30.0
            weight  200.0   100.0
            length  1.5     1.0
    cow     speed   30.0    20.0
            weight  250.0   150.0
            length  1.5     0.8
    falcon  speed   320.0   250.0
            weight  1.0     0.8
            length  0.3     0.2

    >>> df.drop(index='cow', columns='small')
                    big
    lama    speed   45.0
            weight  200.0
            length  1.5
    falcon  speed   320.0
            weight  1.0
            length  0.3

    >>> df.drop(index='length', level=1)
                    big     small
    lama    speed   45.0    30.0
            weight  200.0   100.0
    cow     speed   30.0    20.0
            weight  250.0   150.0
    falcon  speed   320.0   250.0
            weight  1.0     0.8

None

In [6]:
print(help(train.filter))

Help on method filter in module pandas.core.generic:

filter(items=None, like=None, regex=None, axis=None) method of pandas.core.frame.DataFrame instance
    Subset rows or columns of dataframe according to labels in
    the specified index.

    Note that this routine does not filter a dataframe on its
    contents. The filter is applied to the labels of the index.

    Parameters
    ----------
    items : list-like
        List of axis to restrict to (must not all be present).
    like : string
        Keep axis where "arg in col == True".
    regex : string (regular expression)
        Keep axis with re.search(regex, col) == True.
    axis : int or string axis name
        The axis to filter on.  By default this is the info axis,
        'index' for Series, 'columns' for DataFrame.

    Returns
    -------
    same type as input object

    See Also
    --------
    DataFrame.loc

    Notes
    -----
    The ``items``, ``like``, and ``regex`` parameters are
    enforced to be mutually exclusive.

    ``axis`` defaults to the info axis that is used when indexing
    with ``[]``.

    Examples
    --------
    >>> df = pd.DataFrame(np.array(([1,2,3], [4,5,6])),
    ...                   index=['mouse', 'rabbit'],
    ...                   columns=['one', 'two', 'three'])

    >>> # select columns by name
    >>> df.filter(items=['one', 'three'])
             one  three
    mouse     1      3
    rabbit    4      6

    >>> # select columns by regular expression
    >>> df.filter(regex='e$', axis=1)
             one  three
    mouse     1      3
    rabbit    4      6

    >>> # select rows containing 'bbi'
    >>> df.filter(like='bbi', axis=0)
             one  two  three
    rabbit    4    5      6

None